# Autoriser les scripts de build pour les dépendances nécessaires
enable-pre-post-scripts=true
shamefully-hoist=true

# Autoriser les scripts de build pour les packages nécessaires
# Ces packages sont nécessaires pour Next.js et les optimisations d'images
enable-build-scripts=true
